.top-bar {
	display: flex;
	padding: 1rem;
	width: 100%;
	justify-content: space-between;
	.addy {
		display: flex;
		align-items: center;
		width: 30%;
		justify-content: space-around;
	}
	.social {
		display: flex;
		width: 20%;
		justify-content: space-around;
		align-items: center;
	}
	.contact-us {
		display: flex;
	}
}
#menu-navigation {
	display: flex;
	justify-content: space-around;
}
#site-title {
	display: flex;
	justify-content: center;
}
.contact-us {
	display: flex;
	justify-content: space-evenly;
	.call {
		display: flex;
		flex-direction: column;
	}
	.email {
		display: flex;
		flex-direction: column;
	}
}
.ind-services {
	display: flex;
	align-items: center;
	.logo {
		width: 5rem;
		img {
			width: 100%;
		}
	}
}
#carousel {
	width: 50%;
}
.happy-clients {
	.happy {
		.testimonials {
			article {
				.client {
					display: flex;
					.headshot {
						width: 7rem;
						height: 7rem;
						img {
							object-fit: cover;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}
