.top-bar {
	display: flex;
	padding: 1rem;
	width: 100%;
	justify-content: space-between;
	background: #ebebeb;
	.addy {
		display: flex;
		align-items: center;
		width: 30%;
		justify-content: center;
	}
	.social {
		display: flex;
		width: 20%;
		justify-content: space-around;
		align-items: center;
	}
	.contact-us {
		display: flex;
	}
}
#menu {
	margin: 2rem 0;
	#menu-navigation {
		display: flex;
		justify-content: space-around;
	}
}

#site-title {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	text-decoration: none;
	margin: 2rem;
	a {
		color: black;
	}
}
.contact-us {
	display: flex;
	justify-content: space-evenly;
	.call {
		display: flex;
		flex-direction: column;
		// border-right: 1px solid black;
		span {
			margin-bottom: 1rem;
		}
		a {
			font-weight: 900;
		}
	}
	.email {
		display: flex;
		flex-direction: column;
		span {
			margin-bottom: 1rem;
		}
		a {
			font-weight: 900;
			color: black;
		}
	}
}
.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	// width: 75%;
	.serv-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		span {
			font-size: 18px;
			line-height: 28px;
			margin: 0;
			text-transform: uppercase;
			font-weight: 300;
		}
		h1 {
			font-weight: 900;
			font-size: 36px;
			line-height: 46px;
			margin: 0 0 60px;
			color: #212121;
		}
	}
	article {
		width: 75%;
		.ind-services {
			display: flex;
			// width: 75%;
			// align-items: center;
			margin-bottom: 3rem;
			.logo {
				width: 5rem;
				img {
					width: 100%;
				}
			}
			.service {
				margin-left: 25px;
				// margin-bottom: 40px;
				display: flex;
				flex-direction: column;
			}
			.title {
				margin: 0 0 1rem;
			}
			p {
				line-height: 26px;
				font-size: 15px;
			}
		}
	}
}
.projects {
	.proj-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		span {
			font-size: 18px;
			line-height: 28px;
			margin: 0;
			text-transform: uppercase;
			font-weight: 300;
		}
		h1 {
			font-weight: 900;
			font-size: 36px;
			line-height: 46px;
			margin: 0 0 60px;
			color: #212121;
		}
	}
	.projects-care {
		margin: 0 auto;
		// width: 75%;
		header {
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				width: 75%;
			}
		}
	}
}
#carousel {
	width: 50%;
}
.happy-clients {
	display: flex;
	flex-direction: column;
	align-items: center;
	.happy {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		width: 75%;
		h1 {
			color: #212121;
			font-weight: 700;
			font-family: 'Montserrat', sans-serif;
			margin-bottom: 2rem;
		}
		.testimonials {
			display: flex;
			flex-direction: column;
			// align-items: center;
			width: 100%;
			article {
				width: 100%;
				.quote {
					font-size: 16px;
					font-style: italic;
					margin-bottom: 2rem;
				}
				.client {
					display: flex;
					.headshot {
						width: 7rem;
						height: 7rem;
						img {
							object-fit: cover;
							height: 80px;
							width: 80px;
							max-width: 80px;
							max-height: 80px;
							// float: left;
							margin-right: 20px;
							border-radius: 5px;
						}
					}
					.name {
						h1 {
							font-size: 16px;
							line-height: 18px;
							margin: 0 0 2px;
							font-weight: 700;
							display: block;
							color: #ffb600;
						}
					}
				}
			}
		}
	}
	.clients {
		width: 75%;
		.the-happy {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			filter: grayscale(1);
			justify-content: space-between;
			.client {
				width: 30%;
				height: 6rem;
				border: 1px solid black;
				display: flex;
				align-items: center;
				margin-bottom: 2rem;
				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
#footer {
	background-color: #0d0d0d;
	display: flex;
	flex-direction: column;
	.footer {
		color: #999;
		/* width: 75%; */
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		h2 {
			font-size: 1.2rem;
			font-weight: 700;
			border-left: 5px solid #ffb600;
			padding-left: 1rem;
			color: white;
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: 1rem;
		}
		#footer-site-title {
			margin-bottom: 1rem;
			font-size: 1.5rem;
		}
		.about {
			width: 40%;
			display: flex;
			flex-direction: column;
			margin: 2rem 0;
			.social {
				display: flex;
				width: 40%;
				justify-content: space-between;
				align-items: center;
			}
			a {
				color: white;
			}
		}
		.working {
			width: 40%;
			margin: 2rem 0;
			.hours {
				div {
					margin-bottom: 0.5rem;
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
	#copyright {
		background-color: #ffb600;
		// width: 100%;
		padding: 2rem;
	}
}
.entry-services {
	display: flex;
	flex-direction: column;
	article {
		width: 33%;
		a {
			// width: 100%;
			img {
				// object-fit: contain;
				// width: 100%;
				// height: unset;
			}
		}
		.serv-info {
			display: flex;
			align-items: center;
			.serv-icon {
				width: 100%;
				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
